@import "variables";

.container {
    width: 1266px;
    margin: 0 auto;

    @media screen and (max-width: $laptop) {
        width: 1140px;
    }

    @media screen and (max-width: $tablet) {
        width: 960px;
    }

    @media screen and (max-width: $mobile) {
        width: 720px;
    }

    @media screen and (max-width: $mobileSmall) {
        width: 540px;
    }
}

 .swiper-pagination-bullet {
            width: 30px !important;
            border-radius: 5px !important;
            height: 3px !important;
            -webkit-border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -ms-border-radius: 5px !important;
            -o-border-radius: 5px !important;
}
.swiper-pagination {
    bottom: 176px !important;
}

.swiper {
    width: 100vw ;
    margin-left: 0;
}